img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
  outline: 1px solid gray;
}
#check1:checked ~ .slider .slider__slide--first,
#check2:checked ~ .slider .slider__slide--second,
#check3:checked ~ .slider .slider__slide--third {
  display: block;
}
#check1:checked ~ .slider {
  background: #849d8f url("../img/main1.png") no-repeat 50% 0;
}
#check2:checked ~ .slider {
  background: #8996a6 url("../img/main2.png") no-repeat 50% 0;
}
#check3:checked ~ .slider {
  background: #9d8b84 url("../img/main3.png") no-repeat 50% 0;
}
#check1:checked ~ .slider .slider__controls .slider__toggle--first,
#check2:checked ~ .slider .slider__controls .slider__toggle--second,
#check3:checked ~ .slider .slider__controls .slider__toggle--third {
  background-color: white;
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider__check {
  display: none;
}
.slider__slide {
  position: absolute;
  display: none;
  width: 700px;
  top: 390px;
  left: 50%;
  margin-left: -350px;
}
.slider__title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
}
.slider__link {
  background-image: linear-gradient(to top, #e74b36 0%, #d0785b 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  display: block;
  font-size: 30px;
  line-height: 62px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  height: 64px;
  width: 280px;
  border-radius: 32px;
  position: absolute;
  z-index: 3;
  left: 50%;
  margin-left: -140px;
  top: 150px;
}
.slider__link:hover {
  background: linear-gradient(to top, #ec6f5e 0%, #d28d75 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}
.slider__link:active {
  background: linear-gradient(to top, #e1613e 0%, #d24430 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}
.slider__controls {
  height: 21px;
  position: absolute;
  top: 560px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
}
.slider__toggle {
  width: 21px;
  height: 21px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}
.slider__toggle:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.page-header {
  height: 115px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
}
.page-header__logo {
  align-self: flex-start;
  padding-top: 10px;
  margin-right: 15px;
  margin-left: -5px;
}
.main-page {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}
.main-page__inner {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
.main-nav {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 380px;
}
.main-nav__list {
  width: 380px;
  list-style: none;
  padding: 0;
  padding-top: 23px;
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
}
.main-nav__item {
  width: auto;
  padding: 0;
}
.main-nav__item--sub:hover {
  padding-bottom: 20px;
}
.main-nav__item--sub:hover > .main-nav__sub {
  display: -webkit-box;
  display: flex;
}
.main-nav__link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  color: white;
  font-weight: 700;
  padding: 7px 14px;
  border-radius: 17px;
}
.main-nav__link:hover {
  color: black;
  background-color: #f8f7f4;
  text-decoration: none;
}
.main-nav__sub {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  width: 143px;
  height: 171px;
  top: 65px;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.main-nav__sub-title {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 11px 0;
  padding-left: 13px;
  line-height: 18px;
  margin: 0 7px;
}
.main-nav__sub-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 14px;
  line-height: 18px;
  padding: 7px 0;
  padding-left: 20px;
}
.main-nav__sub-link--active {
  background-color: #d07058;
  color: white;
}
.main-nav__sub-link:hover {
  background-color: #fbded7;
}
.main-nav__sub-link:focus {
  background-color: #f6b5a5;
}
.user-block {
  width: 265px;
  margin-left: auto;
  padding-top: 23px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
}
.user-block__section {
  height: 33px;
  border-radius: 17px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: flex;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  position: relative;
}
.user-block__section:hover {
  background-color: white;
  color: black;
}
.user-block__section:hover .user-block__image {
  fill: black;
}
.user-block__section--search {
  width: 33px;
}
.user-block__section--search:hover .user-block__search-label {
  display: block;
}
.user-block__section--login {
  width: 92px;
  padding: 8px 14px;
}
.user-block__section--login:hover .user-block__login-form {
  display: -webkit-box;
  display: flex;
}
.user-block__section--basket {
  width: 117px;
  padding: 8px 0;
  padding-left: 15px;
  -webkit-box-pack: start;
          justify-content: flex-start;
}
.user-block__section--basket:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
.user-block__section--basket:hover .user-block__image {
  fill: white;
}
.user-block__image {
  fill: white;
  margin-right: 7px;
}
.user-block__image--search {
  margin: auto;
}
.user-block__search-label {
  width: 272px;
  height: 69px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  padding: 16px;
  position: absolute;
  top: 38px;
  left: -239px;
  display: none;
}
.user-block__search-field {
  outline: none;
  padding-left: 10px;
  width: 240px;
  height: 37px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.user-block__search-field::-webkit-input-placeholder {
  color: #999999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.user-block__search-field:-ms-input-placeholder {
  color: #999999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.user-block__search-field::placeholder {
  color: #999999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.user-block__login-form {
  width: 272px;
  height: 175px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 38px;
  left: -180px;
  padding: 20px 16px 17px;
  display: none;
  -webkit-box-pack: start;
          justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-box-align: start;
          align-items: flex-start;
}
.user-block__mail-field,
.user-block__pass-field {
  outline: none;
  padding-left: 10px;
  width: 242px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.user-block__mail-field::-webkit-input-placeholder,
.user-block__pass-field::-webkit-input-placeholder {
  color: #999999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.user-block__mail-field:-ms-input-placeholder,
.user-block__pass-field:-ms-input-placeholder {
  color: #999999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.user-block__mail-field::placeholder,
.user-block__pass-field::placeholder {
  color: #999999;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
}
.user-block__pass-field {
  margin-bottom: 15px;
}
.user-block__submit {
  background-image: linear-gradient(to top, #e74b36 0%, #d0785b 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  outline: none;
  border: none;
  width: 105px;
  height: 36px;
  border-radius: 18px;
  color: white;
  font-family: inherit;
  font-size: 15px;
  font-weight: 700;
}
.user-block__submit:hover {
  background: linear-gradient(to top, #ec6f5e 0%, #d28d75 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}
.user-block__submit:active {
  background: linear-gradient(to top, #e1613e 0%, #d24430 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}
.user-block__links {
  width: 120px;
  height: 40px;
  margin-left: auto;
}
.user-block__link {
  font-family: inherit;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
          text-decoration-color: rgba(0, 0, 0, 0.5);
}
.user-block__basket-full {
  width: 539px;
  min-height: 239px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  top: 38px;
  left: -420px;
  display: none;
}
.promo {
  min-height: 230px;
  padding-top: 530px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
}
.promo__block {
  width: 49%;
  border-radius: 15px;
  height: 230px;
  padding: 15px 20px 25px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  background: #65031e url("../img/berry.jpg") no-repeat 50% 0;
}
.promo__block--right {
  background: #5f351d url("../img/chocolate.jpg") no-repeat 50% 0;
}
.promo__title {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-weight: 700;
}
.promo__content {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.promo__link {
  margin-top: auto;
  align-self: flex-end;
  display: block;
  height: 46px;
  padding: 13px 20px;
  border-radius: 23px;
  background-image: linear-gradient(to top, #e74b36 0%, #d0785b 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  color: white;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}
.promo__link:hover {
  background: linear-gradient(to top, #ec6f5e 0%, #d28d75 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}
.promo__link:active {
  background: linear-gradient(to top, #e1613e 0%, #d24430 100%);
  box-shadow: inset 0px 2px 2px 0px #942718;
}
.product {
  width: 23%;
  height: 366px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  position: relative;
}
.product__preview {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.product__image {
  width: 100%;
}
.product__popular {
  position: absolute;
  left: 0;
  top: 0;
}
.product__price {
  width: 160px;
  font-size: 30px;
  font-weight: 700;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
          align-items: baseline;
  position: absolute;
  top: 70%;
}
.product__number {
  font-size: 45px;
  padding-right: 38px;
}
.product__image-R {
  position: absolute;
  fill: white;
  left: 83px;
  top: 8px;
}
.product__link {
  color: white;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}
