.page-header{
  height: 115px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
   &__logo{
     align-self: flex-start;
     padding-top: 10px;
     margin-right: 15px;
     margin-left: -5px;
   }
}
